body {
    color: darkgoldenrod;
    background-color: #ddd;
    border-radius: 10px;
}
h1 { 
    color: darkolivegreen; 
    font-size: 30px;
    font-weight: lighter;
    text-align: center;
    margin-bottom: 0;
}
h2 {
    color: darkolivegreen; 
    font-size: 25px;
    font-weight: lighter;
    align-self: center;
    margin-top: 0%;
}
footer {
    text-align: center;
}
div.text:first-letter {
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.div {
    display: flex;
    flex-direction: column;
    padding-bottom: 0;
}
.text{
    font-weight: bolder;
    color: darkolivegreen;
    font-size: 20px;
    text-align: center;
    border-style: outset;
    border-width: 1px;
    border-color: darkolivegreen;
    font-family: serif;
    border-radius: 10px;
    position: relative;
    top: 1%;
    margin-bottom: 10%;
    width: 90%;
    align-self: center;
}
.first {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    border-radius: 10px;
    box-shadow: 0px 0px 10px black;
}
.main-div{
    display: flex;
    flex-direction: row;
    padding-bottom: 0;
    padding: 2%;
    margin-top: 2%;
    height: 300%px; 
    }
.facebook{
    text-decoration: none;
    color: d#196edd;
    font-weight: bold;
}
.instagram{
    text-decoration: none;
    color: #af1c23;
    font-weight: bold;
}
a:hover {
    color: darkgoldenrod;
}
.navbar {
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
    border-radius: 10px;
  }
.navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 1%;
    text-decoration: none;
    font-size: 17px;
  } 
.navbar a:hover {
    background: #ddd;
    color: black;
  }