        body {
            color: darkgoldenrod;
        }
        h1 { 
            color: darkolivegreen; 
            font-size: 30px;
            font-weight: lighter;
            text-align: center;
        }
        h2 {
            color: darkolivegreen; 
            font-size: 25px;
            font-weight: lighter;
            align-self: center;
        }
        #text{
            font-weight: bolder;
            color: darkolivegreen;
            font-size: 20px;
            text-align: center;
            border-style: outset;
            border-width: 1px;
            border-color: lightslategrey;
            font-family: serif;
            border-radius: 10px;
            position: relative;
            top: 10px;
            margin-bottom: 30px;
            width: 400px;
            align-self: center;
        }
        #footer {
            text-align: center;        
        }
        a:hover {
            color: darkgoldenrod;
        }
        #first {
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 30%;
            border-radius: 10px
        }
        div#text:first-letter {
            font-size: 30px;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
        }
        .main {
            background-color: #ddd;
            border-radius: 10px;
        }
        .div {
            display: flex;
            flex-direction: column;
        }
